* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Karla', sans-serif;
}

header {
    padding: 50px 0 30px 0;
    text-align: center;
}

header img {
    height: 50px;
}

.contenedor {
    width: 1200px;
    margin: 0px auto;
}

h1 {
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 60px;
    line-height: 120px;
    color: white;
    background: #0F2027;
}

h2 {
    font-family: 'Cinzel', serif;
    margin: 20px 0;
    border-bottom: solid 2px #ccc;
    padding-bottom: 5px
}

p {
    margin: 10px 0;
}

ul {
    list-style-position: inside;
    list-style-image: url(img/sword.png);
}

strong {
    color: #666
}

nav#principal {
    margin: 0 0px 10px 0;
    font-family: 'Cinzel', serif;
}

nav#principal ul {
    width: 1200px;
    margin: 0px auto;
    overflow: hidden;
    list-style-type: none;
    list-style-image: none;
}

nav#principal ul {
    justify-content: center;
    display: flex;
}

nav#principal ul li a {
    display: block;
    width: 240px;
    height: 50px;
    border-radius: 10px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}

#principal ul li a:hover {
    background-color: #2C5364;
    color: white;
}

#principal ul li a.activo {
    background-color: #ccc;
    color: black;
}

.imagen {
    width: 100%;
    display: block;
}

.contenedor img {
    border-radius: 10px 10px 0 0;
    display: block;
}