@charset "utf-8";
/* CSS Document */
*{
    margin:0;
    padding:0;
}

figure{
    border:1px dashed #999;
    width:1000px;
    margin:10px auto;
    padding:10px 0px 10px 20px;
}

img{
    margin:0px 20px  0px 0px;
    border:1px solid #999;
    padding:3px}

figcaption{
    border-top:3px double #999;
    width:800px;
    margin:10px auto;
    padding:10px;
    font-family:"Times New Roman", Times, serif;
    font-style:italic;
    text-align:center;

}
